extends ../layout

block content
  .container-result
    span.title Resultado

    .card
      .card-body
        .row
          label.field-label
              span.fa.fa-dollar-sign.icon-orange
              | Investimento inicial: 
          label.field-label.fit-content.result-field-inline
            | #{result.getInicialCapital()}
        .row
          label.field-label
              span.fa.fa-dollar-sign.icon-orange
              | Capital final: 
          label.field-label.fit-content.result-field-inline
            |#{result.getFinalCapital()}  
          span.field-label.fit-content(class=result.isPercentageCapitalPositive() ? 'positive':'negative')
            |(#{result.getPercentageCapital()}%)
        .row
          label.field-label
              span.fa.fa-dollar-sign.icon-orange
              | Período: 
          label.field-label.fit-content.result-field-inline
            | #{result.getPeriod()}

    .card
      .card-body
        table#result-table.table.table-striped.table-bordered(style='width:100%')
          thead
            tr
              th 
              th Data
              th Ação
              th Qnt
              th Preço da ação 
              th Preço da transação
              th Trade
          tbody
            each operation in result.operations
              tr
                td(style="width: 4%;")
                  a(onclick="javascript:loadChart('#{operation.code}', #{ result.getPeriodStart()}, #{result.getPeriodEnd()})")
                    span.fa.fa-search-dollar.icon-orange-big
                td(style="width: 10%;")
                  | #{operation.date}
                td= operation.code
                td= operation.amount
                td(class=operation.typeOperation === 'Long' ? 'positive' : 'negative')
                  | #{operation.stockPrice}
                td(class=operation.typeOperation === 'Long' ? 'positive' : 'negative')
                  | #{operation.priceOfTransaction}
                td(class=operation.typeOperation === 'Long' ? 'positive' : 'negative')
                  | #{operation.typeOperation}
  #result-ajax

  script.
    $('#result-table').DataTable({ordering: false, searching: false});

